body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #app {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #searchInput {
    padding: 8px;
    margin-right: 8px;
  }
  
  #searchButton {
    padding: 8px;
    cursor: pointer;
  }
  
  #pokemonInfo {
    margin-top: 20px;
  }