
.tarea {
  display: flex;
  align-items: center;
  margin: 8px 0;
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.tarea:hover {
  background-color: #e0e0e0;
}

.tarea input {
  margin-right: 12px;
}

.tarea span {
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.tarea.completada {
  text-decoration: line-through;
  color: #aaa;
}

.tarea button {
  background: none;
  border: none;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.tarea button:hover {
  color: #c0392b;
}
